@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, * after {
  box-sizing: border-box;
}

:focus, active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-abjust: 100%;
  -moz-text-size-abjust: 100%;
  -webkit-text-size-abjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

/*Возможно когда-нибудь будет ситуация, когда нуно убрать крестик, который появляется в браузере Explore в поисковике. Если она не нужна, то убрать эту команду*/
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400px;
  color: #F5F5F5;
  line-height: 113%;
  font-size: 1.6rem;
  background-color: #F5F5F5;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 142px) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.title-1 {
  font-weight: 700;
  font-size: 45px;
  color: #F5F5F5;
}

.title-2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #F5F5F5;
}

.title-3 {
  font-weight: 700;
  font-size: 19px;
  color: #425844;
}
.title-3__white {
  color: #F5F5F5;
}
.title-3__light {
  color: #61A568;
}

.title-4 {
  font-weight: 300;
  font-size: 1.7rem;
  color: #61A568;
}

.sidebar {
  background: #425844;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
}

.header {
  background: #101D2C;
  grid-column: full-start/col-end 6;
}

.gamers {
  background: #101D2C;
  grid-column: col-start 7/full-end;
}

.features {
  padding: 15rem 0;
  background: #F5F5F5;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 3rem 4rem;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 1.5rem 2.5rem;
}
.feature img {
  grid-row: 1/span 2;
  transform: translateY(-1rem);
}
.feature__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #425844;
}

.banner-img {
  background: #101D2C;
  grid-column: full-start/col-end 4;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(24, 1fr);
  background: url(../img/bg.svg) center/cover no-repeat;
}
.banner-img__img-1 {
  width: 100%;
  grid-column: 3/15;
  grid-row: 4/18;
}
.banner-img__img-2 {
  width: 100%;
  grid-column: 5/-1;
  grid-row: 10/23;
  transform: translateX(5rem);
}
.banner-text {
  background: #101D2C;
  grid-column: col-start 5/full-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 6vw;
}
.banner-text__text {
  margin-bottom: 4rem;
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: 400;
  width: 87%;
}

.btn {
  font-size: 1.6rem;
  font-weight: 700;
  color: #F5F5F5;
  background-color: #61A568;
  border: 0;
  padding: 1.5rem 3rem;
}
.btn:hover {
  background: #425844;
}

.cards {
  background: #F5F5F5;
  grid-column: full-start/full-end;
}

.gallery {
  background: #101D2C;
  grid-column: full-start/full-end;
}

.footer {
  background: #101D2C;
  grid-column: full-start/full-end;
}