@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, * after {
  box-sizing: border-box;
}

:focus, active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-abjust: 100%;
  -moz-text-size-abjust: 100%;
  -webkit-text-size-abjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

/*Возможно когда-нибудь будет ситуация, когда нуно убрать крестик, который появляется в браузере Explore в поисковике. Если она не нужна, то убрать эту команду*/
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400px;
  color: #F5F5F5;
  line-height: 113%;
  font-size: 1.6rem;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.sidebar {
  background: #425844;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
}

.header {
  background: #101D2C;
  grid-column: full-start/col-end 6;
}

.gamers {
  background: #101D2C;
  grid-column: col-start 7/full-end;
}

.features {
  background: #F5F5F5;
  grid-column: center-start/center-end;
}

.banner-img {
  background: #101D2C;
  grid-column: full-start/col-end 4;
}
.banner-text {
  background: #101D2C;
  grid-column: col-start 5/full-end;
}

.cards {
  background: #F5F5F5;
  grid-column: full-start/full-end;
}

.gallery {
  background: #101D2C;
  grid-column: full-start/full-end;
}

.footer {
  background: #101D2C;
  grid-column: full-start/full-end;
}