.sidebar{
	background:$color-green-dark;
	grid-column: sidebar-start / sidebar-end;
	grid-row: 1 / -1;
	padding: 36px 0 0 14px;
}

.burger{
	border: none;
	background-color: $color-white;
	height: 2px;
	width: 50px;
	&::before{
		content: "";
		display: block;
		transform: translateY(-10px);
		background-color: $color-white;
		height: 2px;
		width: 50px;
	}
	&::after{
		content: "";
		display: block;
		transform: translateY(10px);
		background-color: $color-white;
		height: 2px;
		width: 50px;
	}
}